.container{
    width: 100vw;
    height: 100vh;
    background-color: #f7b42e;
    color: white;
}


.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50vh;
}

.fildek{
    font-weight: bolder;
    font-size: large;
    border-radius: 20px;;
    width: 40vw;
    background-color: rgb(37, 36, 36);
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    height: 70vh;
    overflow: scroll;
}

.fildek hr{
    width: 100%;
}

.divek{
    padding: 10px;
}

.fildek input{
    height: 100%;
}

.btn{
    background-color: #f7b42e;
  border: none;
  color: rgb(34,34,34,0.8);
  font-weight: bold;
  padding: 12px 28px;
  border-radius: 0.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.changes{
    display: none;
}

@media (max-width: 44rem){
    .fildek{
        font-size:x-small;
    }
}